.buttonCollapse {
  border: 1px solid rgb(193, 114, 29);
  border-radius: 7px;
  background-color: rgb(255 216 148);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  color: #373737;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #000000;
    background-color: rgb(255, 151, 40);
  }
}

.card.mt-3 {
  .userEmail {
    font-size: 0.75rem;
  }
  .imageWrap {
    img {
      border: 1px solid rgb(186, 186, 186);
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }
  }
  ul {
    li {
      &.completed {
        background-color: rgb(179, 243, 179);
      }
      &.incomplete {
        background-color: rgb(243, 179, 179);
      }
    }
  }
}
